.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    height:756px;
    background: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.content-banner{
    width:80%;
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: aliceblue;
    text-shadow: 1px 1px 4px black;
   
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    color: aliceblue;
    text-shadow: 1px 1px 4px black;
    margin:10px auto 40px auto;
}

.more-info{
    text-decoration: none;
    padding: 20px 60px;
    font-weight: bold;
    color:#fff;
    background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#EE3B3B), to(#E32929));
    border-radius: 10px;
    width: 140px;
    height: 35px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.more-info:hover{
    background:-webkit-gradient(linear, 40% 2%, 2% 11%, from(#EE3B3B), to(#E32929));
    transition: ease-in-out 1s;
}



.container-app{
    float: left;
    width:100%;

    display: flex;
    flex-direction: column;
}

.container-app div{
    width:80%;
    margin:20px 10%;
    transition: ease-in-out 2s;
}

.container-app h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-shadow: none;
    text-align: center;
    color:rgba(215, 40, 40, 0.9);
}

.container-app img{
    width: 100%;
    height: 100%;
}

.container-content-app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-content-app  hgroup h2{
    font-family: century gothic;
    font-size: 1.5em;
    text-shadow: none;
    color:rgba(215, 40, 40, 0.9);
}

.container-content-app  hgroup h3{
    font-family: century gothic;
    font-size: 1.5em;
    text-shadow: none;
    text-align: center;
    color:#828282;
}

.container-content-app li{
    font-family: century gothic;
    font-size: 1.1em;
    margin:20px 0px;
    text-align: justify;
    color:#828282;
}




.container-about h1{
    text-align: center;
    color:rgba(215, 40, 40, 0.9);
    text-shadow: none;
    margin-top: 60px;
}

.container-about img{
    width:100%;
    height: 100%;
}





/* ** VIEW DESKTOP DEVICE ** */
@media (min-width:1024px){

    .info-app{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info-app div{
        width: 40%;
        margin:auto 0%;
    }


    .container-app{
        flex-direction: row;
        
    }
    
    .container-app div{
        float: left;
        margin:20px 0px;
    }



    .container-app img{
        width: 650px;
        height: 450px;
    }

    
.container-content-app{
    align-items: left;
}

.container-content-app  hgroup h2{
    font-size: 2.1em;
    text-align: left;
    margin:0 auto;
}

.container-content-app  hgroup h3{
    text-align: left;
    margin:12px auto;
}

.container-content-app a img{
    margin:0;
    width: 320px;
    height: 120px;  
    
}



}